html, body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}
paper-scroll-header-panel {
    height: 100%;
}

/* Fix ugly style */
@media (max-width: 639px) {
    .toolbar-tools.paper-toolbar {
        height: 64px;
    }
}


/* Fix Iron-list for grid elements */
#items.iron-list > * {
  width: auto;
  box-sizing: content-box;
  position: static;
  top: auto;
}


paper-toolbar paper-icon-button {
    margin: 0 8px;
}

paper-toolbar .title {
    margin-left: 50px;
}

paper-toolbar .title h1 {
    font-size: 32px;
}


paper-menu iron-icon {
  margin: 0 12px 2px 0;
}

/* Fix title */
paper-toolbar.tall .title {
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#drawerContainer {
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
    background-color: #fff;
}


h1,
h2 {
	font-weight: 300;
	letter-spacing: -0.01em;
	line-height: 44px;
	margin: 0;
}
h2 {
	margin-top: 20px;
	font-size: 24px;
}
h3 {
	margin-top: 18px;
	font-weight: normal;
}






#mainContainer {
    background-color: #f1f1f1;
    padding: 20px 20px 40px 68px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

@media only screen and (max-width: 850px) {
	#mainContainer {
		padding: 20px 20px 20px 20px;
	}
}

/* **************** PAPER-RADIO-BUTTON & PAPER-CHECKBOX **************** */

paper-radio-button, paper-checkbox {
    padding: 20px;
}

/* **************** REALISATIONS **************** */
.intro-realisation {
    margin-top: 30px;
}



.cvDisable {
    display: none;
}